@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');
body {font-family: 'Roboto', sans-serif;background-color: #464243;}


.active{
    @apply before:absolute before:bottom-0 before:left-1/2 before:-translate-x-1/2 before:w-full before:bg-white before:h-0.5 before:bg-[#ffcd57];
}